
/SportsPro/.vs
/.vs/CIS296GroupProject_223/v17/.wsuo
/.vs/CIS296GroupProject_223/v17/DocumentLayout.json
/SportsPro/.vs/SportsPro/v17/.suo
/SportsPro/.vs/SportsPro/v17/DocumentLayout.backup.json
/SportsPro/.vs/SportsPro/v17/DocumentLayout.json
/SportsPro/SportsPro/bin/Debug/net6.0/SportsPro.dll
/SportsPro/SportsPro/bin/Debug/net6.0/SportsPro.exe
/SportsPro/SportsPro/bin/Debug/net6.0/SportsPro.pdb
/SportsPro/SportsPro/bin/Debug/net6.0/SportsPro.staticwebassets.endpoints.json
/SportsPro/SportsPro/bin/Debug/net6.0/SportsPro.staticwebassets.runtime.json
/SportsPro/SportsPro/obj/Debug/net6.0/apphost.exe
/SportsPro/SportsPro/obj/Debug/net6.0/ref/SportsPro.dll
/SportsPro/SportsPro/obj/Debug/net6.0/refint/SportsPro.dll
/SportsPro/SportsPro/obj/Debug/net6.0/SportsPro.AssemblyInfo.cs
/SportsPro/SportsPro/obj/Debug/net6.0/SportsPro.AssemblyInfoInputs.cache
/SportsPro/SportsPro/obj/Debug/net6.0/SportsPro.assets.cache
/SportsPro/SportsPro/obj/Debug/net6.0/SportsPro.csproj.AssemblyReference.cache
/SportsPro/SportsPro/obj/Debug/net6.0/SportsPro.csproj.CoreCompileInputs.cache
/SportsPro/SportsPro/obj/Debug/net6.0/SportsPro.csproj.FileListAbsolute.txt
/SportsPro/SportsPro/obj/Debug/net6.0/SportsPro.dll
/SportsPro/SportsPro/obj/Debug/net6.0/SportsPro.GeneratedMSBuildEditorConfig.editorconfig
/SportsPro/SportsPro/obj/Debug/net6.0/SportsPro.genruntimeconfig.cache
/SportsPro/SportsPro/obj/Debug/net6.0/SportsPro.pdb
/SportsPro/SportsPro/obj/Debug/net6.0/SportsPro.sourcelink.json
/SportsPro/SportsPro/obj/Debug/net6.0/staticwebassets/msbuild.build.SportsPro.props
/SportsPro/SportsPro/obj/Debug/net6.0/staticwebassets/msbuild.SportsPro.Microsoft.AspNetCore.StaticWebAssetEndpoints.props
/SportsPro/SportsPro/obj/Debug/net6.0/staticwebassets/msbuild.SportsPro.Microsoft.AspNetCore.StaticWebAssets.props
/SportsPro/SportsPro/obj/Debug/net6.0/staticwebassets.build.endpoints.json
/SportsPro/SportsPro/obj/Debug/net6.0/staticwebassets.build.json
/SportsPro/SportsPro/obj/Debug/net6.0/staticwebassets.development.json
/SportsPro/SportsPro/obj/Debug/net6.0/staticwebassets.pack.json
/SportsPro/SportsPro/obj/project.assets.json
/SportsPro/SportsPro/obj/project.nuget.cache
/SportsPro/SportsPro/obj/SportsPro.csproj.nuget.dgspec.json
/SportsPro/SportsPro/obj/SportsPro.csproj.nuget.g.props
/.vs/VSWorkspaceState.json
/SportsPro/.vs/SportsPro/DesignTimeBuild/.dtbcache.v2
/SportsPro/.vs/SportsPro/v17/.futdcache.v2
