@{
    ViewData["Title"] = "About";
}
<div class="container-fluid text-sm-start p-5 bg-dark bg-opacity-75 text-white">
    <h1 class="display-4" style="font-weight:500">
        About
    </h1>
    <p style="font-size:x-large">
        SportsPro Technical Support constantly strives to provide the highest level of technical support for all products in the SportsPro family.
    </p>
</div>
