@model SportsPro.Models.CustomerRegistrationsListViewModel

@{
    ViewBag.Title = "Technician Incidents";
    Layout = "~/Views/Shared/_Layout_Validation.cshtml";
}

<h2>Technician: @Model.Customer.FullName</h2>
<h3>Assigned/Open Incidents</h3>
@if (Model.Products.Count() > 0)
{

    <table class="table">
        <thead>
            <tr>
                <th>Product</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var products in Model.Products)
            {
                <tr>
                    <td>@products.Name</td>
                    <td>
                        <a asp-controller="Registration" asp-action="Delete" asp-route-id="@products.ProductID" class="btn btn-sm btn-primary">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h3>There are no open incidents for this technician.</h3>
}

<a asp-controller="TechIncident" asp-action="Index" class="btn btn-secondary">Switch Technician</a>
