@model Incident

@{
	ViewBag.Title = "Delete Incident";
}


<h2>Delete Incident</h2>

<p>Are you sure you want to delete the incident titled '@Model.Title'?</p>

<form asp-action="Delete" method="post">

	<input type="hidden" asp-for="IncidentID" />
	<button type="submit" class="btn btn-danger">Confirm</button>
	<a asp-controller="Incident" asp-action="List" class="btn btn-secondary">Cancel</a>
</form>